body {
    background-color: #000;
    text-align: center;
    font-family: Verdana;
}

/* HEADINGS */
.header--main{
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}

.header--sub-header {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}

footer {
    color: aquamarine;
}

/* LINKS */
.header--notmain {
    color: aquamarine;
    font-size: 16px;
}

/* FOOTER */
.footer--copywrite {
    direction: ltr;
    font-size: 21px;
    color: grey;
    text-align: right;
}